body {
	 height: 2000px;
}
.div-1 {
	margin-left: 98px;
	margin-top: 21px;
}
.logo {
	vertical-align: middle;
	display: inline-block;
}
.navigation {
	display: inline-block;
	vertical-align: middle;
	margin-left: 103px;
}
.nav-li {
	display: inline-block;
	font-size: 24px;
	margin-left: 31px;
}
.header-wraper {
	position: fixed;
}